body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  overflow: hidden;
  transition: background 1.5s ease;
}

.card {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#questionVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  z-index: -1;
}

h2 {
  color: #fc0101;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}

p {
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  margin: 8px 0;
}

button {
  margin: 10px;
  padding: 10px 22px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.yes {
  background: #01ff16;
  color: white;
}

.card video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 20px;
}

#muteBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}

.no {
  background: #0800ff;
  color: white;
}

/* Floating hearts */
.heart {
  position: absolute;
  color: rgba(255, 0, 100, 0.6);
  font-size: 20px;
  animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
